body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #e0e0e0;
    background-color: #1a1a1a;
}

.container {
    width: 80%;
    margin: 0 auto;
}

/* Стили для заголовка */
header {
    background: linear-gradient(135deg, #444 0%, #111 100%);
    color: #fff;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 20px 0 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2em;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Основные стили для основного контента */
main {
    padding: 20px;
    background: #222;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
 
}

section {
    margin-bottom: 30px;
    padding: 20px;
    background-color: #2a2a2a;
    border-radius: 8px;
    border: 1px solid #555;
}

h2 {
    border-bottom: 2px solid #666;
    padding-bottom: 10px;
    margin-bottom: 20px;
    font-size: 1.8em;
}

h3 {
    margin-top: 0;
}

a.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #555;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 10px;
}
a {
    color: #fff;
    text-decoration: none
  }
a.button:hover {
    background-color: #666;

}

/* Стили для подвала */
footer {
    background: linear-gradient(135deg, #444 0%, #111 100%);
    color: #fff;
    text-align: center;
    padding: 15px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.5);
}

/* Адаптивность */
@media (max-width: 768px) {
    .container {
        width: 90%;
    }

    nav ul li {
        display: block;
        margin: 10px 0;
    }

    header h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 1.5em;
    }

    h3 {
        font-size: 1.2em;
    }
}